html {
    font-size: 12px;
}


header, footer {
    display:flex;
    height:200px;
    background:darkgreen;
    justify-content: center;
    align-items: center;
    color:white
}

h1 {
    font-size:2.5rem;
    text-align: center;
    font-family: "SUSE Mono",'Courier New', Courier, monospace;
}

h2 {
    font-size:2rem;
    text-align: center;
}

main {
    align-items: center;
    background:lightblue;
    min-width:50px;
    padding:16px;
}

.main-content {
    display:flex;
    flex-direction: column;
    flex-grow:3;
    gap:8px;
    justify-content: space-around;
    flex-wrap: wrap;
}

aside {
    background:red;
    height:500px;
    min-width:50px;
    flex-grow: 1;
    min-width:250px;
    color: white;
    /* max-width:25%; */
}

p {
    font-size:1.5rem;
}

.main-content > div {
    display:flex;
    gap:8px;    
} 


.flex {
    display:flex;
    flex-direction: column;
    gap: 16px;
    margin-top:8px;
}

article {
    background: darkblue;
    height:180px;
    width:180px;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
}

h3 {
    font-size:2em;
}

 /* MOBILE FIRST */


 /* Desktop - 920px och större */


 /* Alternativ 1 */ 

 @media (min-width:580px) and (max-width:920px) {
    body {
        background:pink;
    }
 }

 /* Alternativ 2 */
 
 @media (580px < width < 920px) {
    body {
        background:red;
    }
 }

@media (min-width:920px) {

    html {
        font-size:16px;
    }

    /* main {
        flex-direction: row;
    } */

    .main-content {
        flex-direction: row;
        align-content: flex
    }

    .flex {
        flex-direction: row;
    }

    aside {
        max-width:25%;
    }

}


@media print {
    main,article {
        text-align: center;
        border:1px solid red;
    }    
}


/* DESKTOP-FIRST
@media (max-width:920px) {
    body {
        background: lightcoral;
    }

    .flex {
        flex-direction: column;
    }

    aside {
        max-width:100%;
        display:none;
    }

    main {
        flex-direction: column;
    }
}

@media (max-width:600px) {

    main {
        flex-direction: column;
        flex-wrap: nowrap;
        height:auto;
        align-items: center;
    }

} */